@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center mt-5">
    <h1 class="display-4">Welcome to VR Labs for Higher Education</h1>
    <p class="lead">Enhancing Practical Learning Experiences through Virtual Labs</p>
    <hr class="my-4">

    <a class="btn btn-primary btn-lg" href="@Url.Action("Login", "StudentAccount")" role="button">Student Login</a>

    <!-- Rest of your content here -->
</div>
