@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center mt-5">
    <h1 class="display-4">Welcome to VR Labs for Higher Education</h1>
    <p class="lead">Enhancing Practical Learning Experiences through Virtual Labs</p>
    <hr class="my-4">

    @if (User.Identity.IsAuthenticated)
    {
        var fullName = User.FindFirst(c => c.Type == "name")?.Value;
        <p>Welcome, @fullName!</p>
    }
    else
    {
        <p>Please sign in with your university account to access the labs.</p>
    }

    <!-- Rest of your content here -->
</div>
