@{
    Layout = "_Layout";
    ViewData["Title"] = "Welcome to VR Labs!";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
    <link rel="stylesheet" href="~/css/home.css">
    <title>@ViewData["Title"]</title>
</head>
<body>
    <main class="main-content">
        <div class="container text-center">
            <h1 class="display-4">Welcome to VR Labs for Higher Education!</h1><br />
            <p class="lead" style="text-align: justify;">
                VR Labs for Higher Education, particularly those developed using Unity, offer immersive, virtual reality simulations of laboratory environments, providing an innovative educational tool for students.
                <br /><br />These simulated labs allow for safe, cost-effective, and accessible learning experiences, where students can conduct experiments and explore scientific concepts that might be too dangerous, expensive, or impractical in real-world settings. Leveraging Unity's robust graphics and interactive capabilities, these VR environments enhance student understanding by visualizing complex subjects, fostering hands-on learning, and enabling repeated experimentation without physical resource constraints.
                <br /><br />Such technology-driven educational solutions are instrumental in developing practical skills and adapting to modern learning methodologies, making science education more engaging and effective.
                <br /><br /><img src="~/images/isiklogo.png" alt="Achievement" height="60px" width="60px" class="img-center">
            </p>
        </div>
    </main>
</body>
</html>
