/* app-styles.css */
body {
    font-family: 'Arial', sans-serif; /* Change the font-family as needed */
    font-weight: normal; /* Default font weight */
}

.container {
    margin: 0 auto; /* Adjust margin for proper spacing */
    padding: 20px; /* Adjust padding as needed */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow to container */
}

.display-4, .lead {
    color: #333; /* Adjust text color for headers and lead paragraphs */
}

.display-4 {
    font-weight: bold; /* Make the display-4 headers bold */
}

.navbar {
    border-bottom: 2px solid #000; /* Make the navbar border more prominent */
}

/* Add more styles as needed */
