/* Style for the heading */
.display-4 {
    font-size: 36px;
    font-weight: bold;
    color: #555;
    text-align: center;
    padding-top: 20px;
}

/* Style for paragraphs */
.lead {
    font-size: 18px;
    line-height: 1.6;
    color: #777; /* Change text color to light gray */
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: justify;
}

/* Style for the horizontal rule */
.my-4 {
    border-top: 2px solid #ccc; /* Line color */
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Style for the background */
.bg-smoke-gray {
    background-color: #f5f5f5; /* Smoke gray background color */
}

/* Additional styles for the container */
.text-container {
    /*padding: 20px;*/
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff; /* White background color */
    color: #777; /* Text color */
}
