html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

/* Student profile page styles */
.profile-sidebar {
    padding: 20px;
    border-right: 1px solid #ddd; /* Default border for larger screens */
    text-align: center; /* Center-align contents */
    width: 300px;
}

.profile-userpic img {
    width: 100%;
    max-width: 200px; /* Limiting the maximum width */
    height: auto;
    border-radius: 50%;
    margin: 0 auto; /* Center the image */
}

.profile-usertitle {
    margin-top: 20px;
}

.profile-usertitle-name {
    font-size: 20px;
    font-weight: bold;
    color: #555;
    margin-bottom: 7px;
}

.grades-list,
.awards {
    padding: 0;
    list-style-type: none;
}

    .grades-list li,
    .awards img {
        margin-bottom: 10px;
    }

/* Awards styling */
.awards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: start;
}

    .awards img {
        width: 50px;
        height: auto;
    }

/* Responsive layout adjustments for mobile screens */
@media (max-width: 900px) {
    .profile-sidebar {
        width: 100%; /* Adjust the width to 100% for better centering */
        margin-bottom: 20px;
        border-right: none; /* Remove the border on mobile */
    }

    .profile-content {
        width: 100%;
    }

    .awards img {
        width: 30px; /* Smaller medals on mobile */
    }

    .profile-avatar {
        width: 80px; /* Smaller size for mobile */
        height: 80px; /* Maintain aspect ratio */
    }
}
