@{
    Layout = "_Layout";
    ViewData["Title"] = "Instructor Home Page";
    ViewData["InstructorHome"] = "InstructorHome";
}

<div class="text-center">
    @if (User.Identity.IsAuthenticated)
    {
        var fullName = User.FindFirst(c => c.Type == "name")?.Value;
        <br />
        <br />
        <h2>Welcome @fullName!</h2>
    }
    <p>Select a lab to grade the students.</p>
    <br /><br />
    <div class="row">
        <!-- List of labs -->
        <div class="col-md-4 mb-5">
            <a href="@Url.Action("InstructorGradePage", "Instructor", new { id = "titrationLab" })" class="lab-tile" style="text-align: center;color: #283691;
    text-decoration: none;">
                <img src="~/images/acidbasetitration.jpg" alt="Acid-Base Titration" style="border-radius: 20%; width: 65%; padding-left: 20px; padding-right: 20px;" />
                <br /><br />
                <h3>Acid-Base Titration</h3>
            </a>
        </div>
        <br /> <br /> <br />
        <div class="col-md-4 mb-5">
            <div class="lab-tile" style="text-align: center;">
                <img src="~/images/aspirin-synthesis.png" alt="Aspirin Synthesis" style="border-radius: 20%; width: 65%; padding-left: 20px; padding-right: 20px;" />
                <br /><br />
                <h3>Aspirin Synthesis</h3>
            </div>
        </div>
    </div>
</div>