@{
    Layout = "_Layout";
    ViewData["Title"] = "Acid Base Titration";
    var labId = ViewData["LabId"] as string;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <title>Unity WebGL Player</title>
    <script src="/lib/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" href="~/css/lab.css">
    <style>
        .centered-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80px;
            margin-bottom: 25px
        }
    </style>
</head>
<body>
    <br /><br />
    <div class="content" style="margin-top: 35px;">
        <!-- Video Player for Tutorial -->
        <video controls style="display: block; margin: auto; width: 75%;">
            <source src="@(Url.Content("~/" + labId + ".mp4"))" type="video/mp4">
        </video>
    </div>
    <br />
    <!-- Tutorial Submission -->
    <div class="centered-container">
        <button id="completeTutorialButton" type="button">Complete Tutorial</button>
    </div>
    <!-- Tutorial submission script -->
    <script>
        $(document).ready(function () {
            $('#completeTutorialButton').click(function () {
                $.ajax({
                    url: '/Student/CompleteTutorial/' + "@(labId)",
                    type: 'POST',
                    success: function (data) {
                        alert('Tutorial completed successfully!');
                        window.location.href = '/Student/StudentLabPage/' + "@(labId)";
                    },
                    error: function (xhr, status, error) {
                        var errorMessage = xhr.status + ': ' + xhr.statusText;
                        alert('An error occurred while completing the lab: ' + errorMessage);
                    }
                });
            });
        });
    </script>
</body>
</html>
