@{
    Layout = "_Layout";
    ViewData["Title"] = "Acid Base Titration";
    var labId = ViewData["LabId"] as string;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <title>Unity WebGL Player</title>
    <script src="/lib/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" href="~/css/lab.css">
    <style>
        .centered-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            margin-bottom: 25px;
            margin-top: -100px;
        }
    </style>
    <script>
        window.onload = function () {
            window.history.pushState(null, "", window.location.href);
            window.onpopstate = function () {
                window.history.pushState(null, "", window.location.href);
            };
        };
    </script>
</head>
<body>
    <div class="content">
        <!-- Lab Simulation Frame -->
        <iframe src="@(Url.Content("~/" + labId + ".html"))"></iframe>
    </div>
    <!-- Lab Submission -->
    <div class="centered-container">
        <button id="completeLabButton" type="button">Complete Lab</button>
    </div>
    <!-- Lab submission script -->
    <script>
        $(document).ready(function () {
            $('#completeLabButton').click(function () {
                $.ajax({
                    url: '/Student/CompleteLab/' + "@(labId)",
                    type: 'POST',
                    success: function (data) {
                        alert('Lab completed successfully!');
                        window.location.href = '/Student/StudentLabPage/' + "@(labId)";
                    },
                    error: function (xhr, status, error) {
                        var errorMessage = xhr.status + ': ' + xhr.statusText;
                        alert('An error occurred while completing the lab: ' + errorMessage);
                    }
                });
            });
        });
    </script>
</body>
</html>