@{
    Layout = "_Layout";
    ViewData["Title"] = "Acid Base Titration";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Unity WebGL Player</title>
    <link rel="stylesheet" type="text/css" href="~/css/site.css">
</head>
<body>
    <iframe src="~/titrationLab.html" width="1440" height="810" frameborder="0"></iframe>
</body>
</html>
