@{
    Layout = "_Layout";
    ViewData["Title"] = "Acid Base Titration";
    var labId = ViewData["LabId"] as string;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <title>Unity WebGL Player</title>
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
        }

        .content {
            flex: 1;
            display: flex;
        }

        iframe {
            width: 100%;
            height: 750px;
            border: none;
        }

        #completeLabButton {
            position: absolute;
            top: 50px; /* Adjust the top distance as needed */
            right: 50px; /* Adjust the right distance as needed */
        }
    </style>
    </style>
    <script src="/lib/jquery/dist/jquery.js"></script>
</head>
<body>
    <br />
    <div class="content">
        <iframe src="~/titrationLab.html"></iframe>
    </div>
    <br />
    <button id="completeLabButton" type="button">Complete Lab</button>
    <br />
    <!-- Lab submission script -->
    <script>
        $(document).ready(function () {
            $('#completeLabButton').click(function () {
                $.ajax({
                    url: '/Student/CompleteLab/' + "@(labId)",
                    type: 'POST',
                    success: function (data) {
                        // If the lab is completed successfully, redirect to the PlayLab page
                        alert('Lab completed successfully!');
                        window.location.href = '/Student/StudentLabPage/' + "@(labId)";
                    },
                    error: function (xhr, status, error) {
                        // Improved error handling for better diagnosis
                        var errorMessage = xhr.status + ': ' + xhr.statusText;
                        alert('An error occurred while completing the lab: ' + errorMessage);
                    }
                });
            });
        });
    </script>
</body>
</html>