@{
    Layout = "_Layout"; // Set the layout page
    ViewData["Title"] = "Acid Base Titration";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Unity WebGL Player</title>
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <script type="text/javascript" src="~/js/UnityProgress.js"></script>
</head>
<body>
    <div class="safety-checklist">
        <label>
            <input type="checkbox" id="glovesWornCheckbox" name="glovesWorn" value="GlovesWorn">
            Gloves worn
        </label>
        <br>
        <label>
            <input type="checkbox" id="visorWornCheckbox" name="visorWorn" value="VisorWorn">
            Visor worn
        </label>
    </div>

    <iframe src="~/titrationLab.html" width="960" height="600" frameborder="0"></iframe>
</body>
</html>
