@{
    Layout = null; // Optional: Remove the layout if you want the game to take up the whole page
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Unity WebGL Player</title>
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <script type="text/javascript" src="~/js/UnityProgress.js"></script>
</head>
<body>
    <iframe src="@ViewBag.PathToUnityGame" width="960" height="600" frameborder="0"></iframe>
</body>
</html>
