@{
    ViewData["Title"] = "Lab Details"; 
    var labId = ViewBag.LabId as string; 
    var labComplete = ViewBag.LabComplete as bool?; 
    var tutorialComplete = ViewBag.TutorialComplete as bool?;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <title>Unity WebGL Player</title>
    <link rel="stylesheet" href="~/css/lab.css">
</head>
<body>
    <div class="lab-container">
        <br />
        <br />
        <h2>Lab Details for @labId</h2>
        <br />
        <p style="text-align:justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <br />
        <div class="lab-actions" style="text-align: center;">
            @if (tutorialComplete == true)
            {
                <span class="btn btn-warning disabled mr-2">Watched</span>
                @if (labComplete == true)
                {
                    <span class="btn btn-success disabled mr-2">Completed</span>
                }
                else
                {
                    <a href="@Url.Action("PlayLab",  "Student", new { id=labId })" class="btn btn-success mr-2">Play Lab</a>
                }
            }
            else
            {
                <a href="@Url.Action("LabTutorial", "Student", new { id=labId })" class="btn btn-warning mr-2">Tutorial</a>
                <span class="btn btn-success disabled mr-2">Play Lab</span>
            }           
        </div>
    </div>
</body>
</html>