@{
    ViewData["Title"] = "Lab Details"; 
    var labId = ViewBag.LabId as string; 
    var labComplete = ViewBag.LabComplete as bool?; 
    var tutorialComplete = ViewBag.TutorialComplete as bool?;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <title>Unity WebGL Player</title>
    <link rel="stylesheet" href="~/css/lab.css">
</head>
<body>
    <!-- Lab information -->
    <div class="lab-container">
        <br />
        <br />
        <h2>Lab Details for @labId</h2>
        <br />
        <p style="text-align:justify;">Welcome to the lab page. Before you can begin the lab simulation, make sure to watch the lab tutorial and submit it. It's important to have a good internet connection because if you lose it, your progress might be lost. If you encounter any problems, you can restart the lab until submission, but please remember that your attempts will be recorded, and it may affect your grades. Best of luck!</p>
        <br />
        <!-- Tutorial and Simulation buttons -->
        <div class="lab-actions" style="text-align: center;">
            @if (tutorialComplete == true)
            {
                <span class="btn btn-warning disabled mr-2">Watched</span>
                @if (labComplete == true)
                {
                    <span class="btn btn-success disabled mr-2">Completed</span>
                }
                else
                {
                    <a href="@Url.Action("PlayLab",  "Student", new { id=labId })" class="btn btn-success mr-2">Play Lab</a>
                }
            }
            else
            {
                <a href="@Url.Action("LabTutorial", "Student", new { id=labId })" class="btn btn-warning mr-2">Tutorial</a>
                <span class="btn btn-success disabled mr-2">Play Lab</span>
            }           
        </div>
    </div>
</body>
</html>